#autoComplete_results_list {
    background-color: transparent;
    position: absolute;
    list-style: none;
    z-index: 10;
    top: 23px;
    width: 400px;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 5px;
}

.sticky {
    position: absolute;
    width: 500px;
    height: 300px;
    z-index: 3;
    left: -100px;
    top: -30px;
}

.selected-universities {
    width: 200px;
    height: 150px;
    position: absolute;
    z-index: 4;
    transform: rotate(-8deg);
    left: 50px;
}

.selected {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    
}

.unselect-option {
    cursor: pointer;
}

#autoComplete {
    width: 100%;
    height: 100%;
    line-height: 30px;
    vertical-align: center;
    font-size: 24px;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
    font-family: inherit;
}

#autoComplete-container {
    width: 400px;
    height: 40px;
    display: block;
    margin: 0px auto;
    position: relative;
    border-radius: 5px;
}

.autoComplete_result {
    line-height: 30px;
    cursor: pointer;
    box-sizing: border-box;
}