#map {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
}

.university-photo {
  margin-right: 10px;
}

.university-info {
  display: flex;
  flex-direction: column;
}

.gm-style .gm-style-iw div {
  display: flex;
}

.statistics-link:hover {
  text-decoration: underline;
}

.statistics-link {
  color: #4267b2;
  cursor: pointer;
}


.doodle-1 {
  position: absolute;
  width: 300px;
  right: 0px;
  top: -50px;
  height: 300px;
}

.hangman {
  width: 200px;
  position: absolute;
  bottom: 0;
  right: -5px;
}

.map-container {
  margin: 0 auto;
  margin-top: 120px;
  height: 500px;
  width: 1000px;
  padding: 10px;
  border: 1px solid black;
  transform: rotate(2deg);
  z-index: 3
}

