#map {
  height: 100%;
  width: 100%;
  border-radius: 1vh;
  border: 1px solid black;
}

.university-photo {
  margin-right: 10px;
}

.university-info {
  display: flex;
  flex-direction: column;
}

.gm-style .gm-style-iw div {
  display: flex;
}

.statistics-link:hover {
  text-decoration: underline;
}

.statistics-link {
  color: #4267b2;
  cursor: pointer;
}


.doodle-1 {
  position: relative;
  width: 20vw;
  height: 35vh;
}

.hangman {
  width: 15vw;
  position: absolute;
  bottom: 0;
  right: -5px;
}

.personal-links {
  font-size: 4vh;
  display: flex;
  position: relative;
  width: 5vw;
  justify-content: space-between;
}

.map-container {
  margin-left: 2vw;
  height: 70vh;
  width: 62vw;
  padding: 1vh;
  border: 1px solid black;
  transform: rotate(2deg);
  z-index: 3
}

.intro {
  position: relative;
  z-index: 4;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 4vh;
  box-sizing: border-box;
}

.main-header {
  height: 20vh;
  display: flex;
}

.sidebar {
  padding-top: 13.5vh;
  display: flex;
  flex-direction: column;
  width: 15vw;
  margin-left: 7vw;
  height: auto;
}

.main-body {
  display: flex;
}