html,
body {
    width: 100%;
    margin: 0;
    font-family: 'Liu Jian Mao Cao',
    cursive;
}

[class|="transition-rect"] {
    height: 20%;
    background: black;
    position: absolute;
    z-index: 5;
    left: 0;
}

.transition-rect-1 {
    top: 0;

}

.transition-rect-2 {
    top: 20%;
}

.transition-rect-3 {
    top: 40%;
}

.transition-rect-4 {
    top: 60%;
}

.transition-rect-5 {
    top: 80%;
}

.drip-drop {
    z-index: 10;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    display: none;
    top: -40px;
}

.spread {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 51%;
    left: 50.5%;
    z-index: 20;
    display: none;
}